extends layout/main.pug

block content
    h1 User Listings: 
        if usersList.length > 0
            ul 
                for user in usersList 
                    li #{user}
        else 
            h3 No users yet
